PORT=3000
MONGODB_URI=mongodb+srv://safarnama_user:0lYvGL0dj20dfSJk@cluster0.b1fbfck.mongodb.net/SnapLink?retryWrites=true&w=majority&appName=Cluster0
BASE_URL=https://snaplink-9vc5.onrender.com
DASHBOARD_TIMEZONE=Asia/Kolkata
SESSION_SECRET=change-this-to-a-long-random-secret
